.hello {
  position: inherit;
  background-color: rebeccapurple;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 111px;
  width: 111px;
}

.sass-self {
  @if ($x == 1) {
    // test
    width: 111px;
  }



  width: 111px;
}